.nav-links a.active {
    background: linear-gradient(135deg, #ff8fcf, #7a86ff);
}
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

body {
    background: url("bg.png") center/cover no-repeat fixed;
    color: white;
    min-height: 100vh;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 32px;
    background: rgba(30, 20, 60, 0.6);
    backdrop-filter: blur(10px);
}


.logo {
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 14px;
}

.nav-links a:hover {
    background: rgba(255,255,255,0.12);
}


.main {
    padding: 40px;
}

h2 {
    margin-bottom: 30px;
}

.suggestions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.suggest-card {
    position: relative;
    width: 230px; 
    height: 300px; 
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000; 
}

.suggest-card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.suggest-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(49,26,104,0.9), rgba(120,90,180,0.25));
}

.suggest-card h3,
.suggest-card p,
.suggest-card form,
.match {
    position: relative;
    z-index: 2;
    margin-left: 14px;
    margin-right: 14px;
}

.suggest-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}

.suggest-card p {
    font-size: 13px;
    margin: 4px 0 12px 0;
    line-height: 1.3;
    opacity: 0.9;
    margin-left: 20px
}


.match {
    position: absolute;
    top: 14px;
    right: 14px;
    background: linear-gradient(90deg, #ff8fcf, #7a86ff);
    padding: 6px 12px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 13px;
}


.suggest-card .btn {
    display: block;
    width: calc(100% - 28px); 
    margin: 0 14px 14px 14px;
    background: linear-gradient(90deg, #ff8fcf, #7a86ff);
    border: none;
    color: #fff;
    padding: 10px 0;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}